{"Status":1,"Values":[{"PatientID":"001270899900","Series":"7","InpatientPermitID":"","OutpatientID":"105705847","Name":"李金月","PlanDeptCode":"1000192","PlanDeptName":"神经外科病房","PlanWardCode":"1000194","PlanWardName":"8C病区","Sex":"女","Age":"45岁","Identity":"110221197008026441","InpatientPermitDate":"2015-04-29T10:05:59","OutDiagnosis":"颅骨缺损","Deposit":10000.0,"AdtDeptNo":"1"},{"PatientID":"001538722800","Series":"1","InpatientPermitID":"","OutpatientID":"112769291","Name":"董欣","PlanDeptCode":"1000192","PlanDeptName":"神经外科病房","PlanWardCode":"1000194","PlanWardName":"8C病区","Sex":"男","Age":"42岁","Identity":"210703197403162812","InpatientPermitDate":"2015-04-28T10:55:10","OutDiagnosis":"脑胶质母细胞瘤(右额深)","Deposit":10000.0,"AdtDeptNo":"1"}]}