{"Status":1,"Values":{"ModulePermission":[10000,10001,10002,10003,10004,10005,10006,10007,10008],"ID":"03267","Certification":null,"CertificationRequired":false,"Name":"测试","UserName":"测试医生","Password":"wds","IdentityCard":null,"Sex":null,"Nation":null,"Title":"主任医师","LevelCode":null,"ImageUri":null,"UserRole":0,"SursurgeryClass":null,"DeptName":"测试科室","DeptCode":"4080000","Dept_IDS":null}}