{"Status":1,"Values":[{"CaseNO":"","BedNO":"004","PatientNO":"001534828900","Series":"1","MRN":"","Name":"","BedStatus":"有人","PlanWardName":"","BedPrice":"1007","DeptCode":"1000029","DeptName":"消化内科病房","WardCode":"1000636","WardName":"20A病区","BedType":"1","BedTypeName":"开放","Pipe":"","Monitor":"","Window":""}]}