{"Status":1,"Values":[{"CaseNO":"","BedNO":"012","PatientNO":"001537675200","Series":"1","MRN":"","Name":"","BedStatus":"有人","PlanWardName":"","BedPrice":"91","DeptCode":"1000003","DeptName":"心血管内科病房","WardCode":"1000005","WardName":"4A病区","BedType":"1","BedTypeName":"开放","Pipe":"","Monitor":"","Window":""}]}