{"Status":1,"Values":[{"GUID":"E45FBDB6-4B65-4914-BA31-2FA3DE86EFA8","PatientID":"29591075","VisitID":"1","Title":"病情变更","Content":"病情恶化","CreateTime":"2016/5/16 17:09:27","CreateDoctorName":"测试","SubMemorandumList":[{"GUID":null,"MainID":"E45FBDB6-4B65-4914-BA31-2FA3DE86EFA8","FileType":"1","FileName":"2f38b36ec7fb4fcbb610958f96ef6433.mp3","FilePath":"29591075_1","FileBytes":null,"CreateTime":"2016/5/16 17:09:27","FileUrl":"http://172.27.1.58:9001/Resources/MemorandumUpload/29591075_1/2f38b36ec7fb4fcbb610958f96ef6433.mp3"}]},{"GUID":"F3909AFD-F801-447C-B883-B7C61B1AD193","PatientID":"29591075","VisitID":"1","Title":"主任查房","Content":"今天病情稳定","CreateTime":"2016/5/16 17:05:27","CreateDoctorName":"测试","SubMemorandumList":[]}]}