{"Status":1,"Values":[{"ID":"29542151","InPatienNo":"4256724","HID":"001607176200","CaseID":"4256724","SubID":"2","ClinicID":null,"DeptCode":"1000197","DeptName":"乳腺外科病房","DischargeDeptName":null,"WardName":"13A病区","BedNo":"001","DoctorInCharge":null,"NurseInCharge":null,"Diagnosis":"乳腺癌","Name":"刘军梅","NamePhonetic":null,"Nation":"汉族","Sex":"女","BirthDay":"1976-02-14 00:00:00","Age":"40岁","EnterDate":"2016-05-08 15:53:32","ExitDate":null,"MedicalInsuranceID":null,"IdentityType":null,"Company":null,"Phone":"13522803608","Address":null,"ZipCode":null,"LinkManName":"孙柏青","LinkManRelation":null,"LinkManPhone":"13671268125","IdentityNumber":"110221197602146622","Payment":null,"CurrentState":null,"CareLevel":"一级护理","PrePayments":null,"TotalCost":null,"TotalPayments":null,"BalanceMoney":null,"InHosDay":8,"IsWaiting":0,"DiagnsisHistoryList":null}]}